/* GENERAL 
============================================= */
* {
  font-family: 'Montserrat', sans-serif;
}

/* GENERAL ITEM CLASS TO ALL LI
============================================= */
li {
    list-style: none;
  }
  
/* CONTAINER (CENTERING AND WIDTH)
============================================= */
.container {
    max-width: 1920px;
    margin: 0 140px;
}