/* GENERAL ITEM CLASS TO ALL LI
============================================= */
.item {
    list-style: none;
  }
  
/* CONTAINER (CENTERING AND WIDTH)
============================================= */
.container {
    max-width: 1920px;
    margin: 0 140px;
}