@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;900&display=swap";
h1, h2, h3, h4, h5, h6, p, ul, li, a, p, span, figure {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
  margin-block: 0;
  margin-inline: 0;
  padding-inline-start: 0;
  text-decoration: none;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: Montserrat, sans-serif;
}

li {
  list-style: none;
}

.container {
  max-width: 1920px;
  margin: 0 40px;
}

@media screen and (width >= 1300px) {
  .container.header__wrapper {
    margin: 0 140px;
  }
}

.section.about {
  padding: 233.5px 0;
}

.section.galleries {
  padding: 51px 0 75px;
}

.heading {
  text-align: left;
  letter-spacing: 19.2px;
  color: #000;
  opacity: 1;
  border-bottom: 2px solid #ff4359;
  padding: 0 0 29px;
  font: 900 30px / 57px Montserrat;
}

@media screen and (width >= 1040px) {
  .heading {
    font: 900 48px / 57px Montserrat;
  }
}

.header__burger {
  cursor: pointer;
  z-index: 100;
  -webkit-user-select: none;
  user-select: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin: 0;
  padding: 0 15px;
  transition: transform .3s;
  display: flex;
  position: absolute;
  top: 28px;
  right: 16px;
}

.header__burger:hover span:before, .header__burger:hover span:after {
  background-color: #ff4359;
}

.header__burger span {
  z-index: 10;
  width: 150%;
  margin-top: -4px;
  position: relative;
}

@media screen and (width >= 1040px) {
  .header__burger span {
    display: none;
  }
}

.header__burger span:before {
  content: "";
  transform-origin: center;
  background-color: #afafaf;
  border-radius: 3px 0 0 3px;
  width: 50%;
  height: 5px;
  transition: all .25s cubic-bezier(.6, 0, .3, 1);
  position: absolute;
  top: 0;
  left: 0;
}

.header__burger span:after {
  content: "";
  transform-origin: center;
  background-color: #afafaf;
  border-radius: 0 3px 3px 0;
  width: 50%;
  height: 5px;
  transition: all .25s cubic-bezier(.6, 0, .3, 1);
  position: absolute;
  top: 0;
  right: 0;
}

.header__burger span + span {
  margin-top: 8px;
}

.header__burger.active span:first-of-type:before {
  transform: translate3d(3px, 4.5px, 0)rotate(45deg);
}

.header__burger.active span:first-of-type:after {
  transform: translate3d(-3px, 4.5px, 0)rotate(-45deg);
}

.header__burger.active span:nth-last-of-type(2):before {
  transform: translateX(-200%);
}

.header__burger.active span:nth-last-of-type(2):after {
  transform: translateX(200%);
}

.header__burger.active span:nth-of-type(3):before {
  transform: translate3d(3px, -5.5px, 0)rotate(-45deg);
}

.header__burger.active span:nth-of-type(3):after {
  transform: translate3d(-3px, -5.5px, 0)rotate(45deg);
}

.header__burger.active span:nth-of-type(2):before, .header__burger.active span:nth-of-type(2):after {
  opacity: .0001;
}

.header {
  z-index: 1;
  background-color: #fff;
  border-bottom: 4px solid #ff4359;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  height: 100px;
  padding: 20px 0;
  display: flex;
  position: fixed;
}

.header__wrapper {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  display: flex;
}

@media screen and (width >= 1040px) {
  .header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (width >= 1220px) {
  .header__logo {
    margin-right: 60px;
  }
}

.header.show {
  height: 400px;
}

.nav {
  flex-direction: column;
  width: 100%;
  display: none;
}

.nav.show {
  display: flex;
}

@media screen and (width >= 1040px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
}

.nav__list {
  letter-spacing: 4.8px;
  color: #afafaf;
  text-transform: uppercase;
  opacity: 1;
  flex-direction: column;
  gap: 30px;
  font: 300 12px / 14px Montserrat;
  display: flex;
}

@media screen and (width >= 1040px) {
  .nav__list {
    flex-direction: row;
    gap: 20px;
  }
}

.nav__social {
  cursor: pointer;
  flex-direction: row;
  gap: 11.9px;
  margin-top: 80px;
  display: flex;
}

@media screen and (width >= 1040px) {
  .nav__social {
    margin-top: 0;
  }
}

.nav__link {
  cursor: pointer;
  padding: 14px 30px;
}

.nav__link:hover {
  border-radius: 21px;
  box-shadow: 0 5px 10px #fc435933;
}

@media screen and (width >= 1020px) {
  .nav__link {
    padding: 14px 30px;
  }
}

.hero {
  background-image: url("hero.07119883.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 813px;
}

@media only screen and (-webkit-device-pixel-ratio >= 2), only screen and (-moz-device-pixel-ratio >= 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (resolution >= 192dpi), only screen and (resolution >= 2dppx) {
  .hero {
    background-image: url("hero@2x.26ca2a98.png");
  }
}

.about {
  flex-wrap: wrap;
  gap: 74px;
  width: 100%;
  display: flex;
}

@media screen and (width >= 1151px) {
  .about {
    gap: 0;
  }
}

.about__image {
  background-image: url("about.ba3ee5ca.png");
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 613px;
}

@media only screen and (-webkit-device-pixel-ratio >= 2), only screen and (-moz-device-pixel-ratio >= 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (resolution >= 192dpi), only screen and (resolution >= 2dppx) {
  .about__image {
    background-image: url("about@2x.3d8c123f.png");
  }
}

@media screen and (width >= 1151px) {
  .about__image {
    width: 56.77%;
  }
}

.about__wrapper {
  flex-direction: column;
  gap: 45px;
  padding: 0 40px;
  display: flex;
}

@media screen and (width >= 1151px) {
  .about__wrapper {
    width: 42.41%;
  }
}

@media screen and (width >= 1920px) {
  .about__wrapper {
    padding: 0 140px;
  }
}

.about__paragraph {
  text-align: left;
  letter-spacing: 0;
  color: #000;
  margin-bottom: 1em;
  font: 300 14px / 22px Montserrat;
}

.about__paragraph br {
  content: " ";
  margin-top: 1.5em;
  display: block;
}

@media screen and (width >= 1920px) {
  .about__paragraph {
    font: 300 16px / 24px Montserrat;
  }
}

.galleries {
  flex-direction: column;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.galleries__heading {
  margin-bottom: 70.5px;
}

.galleries__container {
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1364px;
  display: flex;
  position: relative;
}

.galleries__images {
  width: 1364px;
  display: -webkit-inline-box;
}

.galleries__images .image {
  width: 100%;
  height: 100%;
}

.galleries__circles {
  padding-top: 30px;
}

.slider {
  width: 100%;
  max-width: 1364px;
  max-height: 767px;
  display: block;
  position: relative;
  overflow: hidden;
}

.slider__slides {
  width: 80%;
  max-width: 1364px;
  height: 600px;
  max-height: 767px;
  margin: 100px auto auto;
  display: flex;
  position: relative;
}

.slider__buttons {
  z-index: 1;
  width: 100%;
  height: 100%;
  transform: translate(0, 50%);
}

.slider__slide {
  opacity: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  font-size: 50px;
  font-weight: bold;
  transition: all 1s;
  position: absolute;
  top: 0;
  left: 0;
}

.slider__slide.active {
  opacity: 1;
}

.slider__slide img {
  width: 100%;
}

.slider__nav-button {
  opacity: .8;
  cursor: pointer;
  color: #afafaf;
  position: absolute;
}

.slider__nav-button.active {
  color: #ff4359;
}

#nav-button--prev {
  position: absolute;
  left: -45px;
}

#nav-button--next {
  position: absolute;
  right: -45px;
  transform: rotate(180deg);
}

.slider__nav {
  text-align: center;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}

.slider__navlink {
  opacity: 1;
  cursor: pointer;
  background-color: #afafaf;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin: 0 10px;
  display: inline-block;
}

.slider__navlink.active {
  background-color: #ff4359;
  width: 24px;
  height: 24px;
}

@media screen and (width <= 640px) {
  .slider__navlink {
    width: 12px;
    height: 12px;
  }
}

.slider__wraper {
  width: 100%;
  height: 767px;
  margin: 100px auto auto;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  transition: all 1s;
  position: absolute;
}

.slider__navigation {
  text-align: center;
  margin-top: 15px;
  position: relative;
}

.slider__navigation button {
  font-size: 25px;
}

.footer {
  background-color: #afafaf;
  height: 208px;
}

/*# sourceMappingURL=index.f7626f62.css.map */
