<section id="galleries" class="section galleries">
  <h2 class="galleries__heading heading">GALERIA</h2>
  <div class="slider__slides">
    <div class="slider__buttons">
      <svg width="28.2" height="48" id="nav-button--prev" class="slider__nav-button">
        <use href="./assets/svg/icons.svg#arrow"></use>
      </svg>
      <svg width="28.2" height="48" id="nav-button--next" class="slider__nav-button active">
        <use href="./assets/svg/icons.svg#arrow"></use>
      </svg>
    </div>
  </div>
  <div class="galleries__circles">
    <div class="slider__navlink active"></div>
    <div class="slider__navlink"></div>
    <div class="slider__navlink"></div>
    <div class="slider__navlink"></div>
  </div>
</section>
