<section class="section galleries">
  <h2 class="galleries__heading heading">GALERIA</h2>
  <div class="galleries__container">
    <div class="slider">
      <div class="slider__slides">
        <div class="slider__slide active">
          <img src="./assets/images/retina/galleries-1@2x.png" />
        </div>
        <div class="slider__slide">
          <img src="./assets/images/retina/galleries-2@2x.png" />
        </div>
        <div class="slider__slide">
          <img src="./assets/images/retina/galleries-3@2x.png" />
        </div>
        <div class="slider__slide">
          <img src="./assets/images/retina/galleries-4@2x.png" />
        </div>
      </div>
    </div>
    <svg id="nav-button--prev" class="slider__nav-button">
      <use href="./assets/svg/icons.svg#arrow"></use>
    </svg>
    <svg id="nav-button--next" class="slider__nav-button active">
      <use href="./assets/svg/icons.svg#arrow"></use>
    </svg>
  </div>
  <div class="galleries__circles">
    <div class="slider__navlink active"></div>
    <div class="slider__navlink"></div>
    <div class="slider__navlink"></div>
    <div class="slider__navlink"></div>
  </div>
</section>
