<header id="header" class="header">
  <div class="container header__wrapper ">
    <div class="header__logo">
      <svg width="216px" height="50px">
        <use href="./assets/svg/icons.svg#logo"></use>
      </svg>
    </div>
    <nav class="nav">
      <ul class="nav__list">
        <li><a class="nav__link" href="#hero">START</a></li>
        <li><a class="nav__link" href="#about">O MNIE</a></li>
        <li><a class="nav__link" href="#galleries">GALERIA</a></li>
        <li><a id="contact" class="nav__link">KONTAKT</a></li>
      </ul>
      <ul class="nav__social">
        <li>
          <a>
            <svg width="30" height="28.377">
              <use href="./assets/svg/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a>
            <svg width="28.55" height="28.55">
              <use href="./assets/svg/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a>
            <svg width="40.275" height="28.377">
              <use href="./assets/svg/icons.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <div id="menu-toggle" class="header__burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    
  </div>
</header>
