<header class="header container">
  <div>
    <svg width="216px" height="50px">
      <use href="./assets/svg/LOGO_Placeholder.svg#logo"></use>
    </svg>
  </div>
  <nav class="nav">
    <ul class="nav__list">
      <li><a>START</a></li>
      <li><a>O MNIE</a></li>
      <li><a>GALERIA</a></li>
      <li><a>KONTAKT</a></li>
    </ul>
    <ul class="nav__social">
      <li>
        <a>
          <svg width="30" height="28.377">
            <use href="./assets/svg/social/facebook.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a>
          <svg width="28.55" height="28.55">
            <use href="./assets/svg/social/instagram.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a>
          <svg width="40.275" height="28.377">
            <use href="./assets/svg/social/youtube.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
  <div class="header__burger">
      <span></span>
      <span></span>
      <span></span>
  </div>
</header>