.about {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &__image {
    width: 56.77%;
    height: 613px;
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: url("../assets/images/retina/about@2x.png");
    }
    background-image: url("../assets/images/global/about.png");
    background-size: cover;
    background-position: bottom;
  }

  &__wrapper {
    padding: 0 140px;
    width: 42.41%;
    display: flex;
    flex-direction: column;
    gap: 45px;
  }

  &__paragraph {
    text-align: left;
    font: normal normal 300 16px/24px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 1em;

    br {
      content: " "; /* Dodawanie odstępu jako treść znacznika br */
      display: block; /* Konwertowanie na blok, aby dodać odstęp */
      margin-top: 1.5em; /* Dodawanie odstępu nad znacznikiem br */
    }
  }
}
