.galleries {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &__heading {
    margin-bottom: 70.5px;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1364px;
    position: relative;
  }

  &__images {
    width: 1364px;
    display: -webkit-inline-box;
    & .image {
      width: 100%;
      height: 100%;
    }
  }

  &__circles {
    z-index: 1;
    padding-top: 30px;
  }
  &__slides {
    display: flex;
    width: 80%;
    max-width: 1364px;
    height: 600px;
    max-height: 767px;
    margin: 100px auto auto;
    position: relative;
  }
  &__buttons {
    height: 100%;
    width: 100%;
    transform: translate(0, 50%);
    z-index: 1;
  }
  &__nav-button {
    position: absolute;
    opacity: 0.8;
    cursor: pointer;
    color: map-get($map: $color, $key: "gray");

    &.active {
      color: map-get($map: $color, $key: "red");
    }
  }

  &__navlink {
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: map-get($map: $color, $key: "gray");
    opacity: 1;
    margin: 0 10px 0 10px;
    cursor: pointer;
    &.active {
      height: 24px;
      width: 24px;
      background-color: map-get($map: $color, $key: "red");
    }
  }
}

#nav-button--prev {
  position: absolute;
  left: -45px;
}

#nav-button--next {
  position: absolute;
  right: -45px;
  transform: rotate(180deg);
}

.slide {
  width: 100%;
  height: 100%;
  transition: 1s;
  position: absolute;
}