.header {
    display: flex;
    align-items: center;
    height: 100px;

    &__burger {
        display: none;
    }
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &__list {
        display: flex;
        gap: 20px;
    }

    &__social {
        display: flex;
    }
}