.hero {
  height: 813px;
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    background-image: url("../assets/images/retina/hero@2x.jpg");
  }
  background-image: url("../assets/images/global/hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: -webkit-sticky;
  /* Ustawienie dla przeglądarek WebKit (Safari) */
  @supports (-webkit-touch-callout: none) {
    background-image: url("../assets/images/retina/hero@2x.jpg");
  }

  @media only screen and (max-device-width: 1366px) {
      background-attachment: scroll;

  }
}
